$body-background-lightmode: linear-gradient(
  rgba(255, 255, 255, 1),
  rgba(43, 19, 59, 0.5)
);

$body-background-darkmode: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(43, 19, 59, 0.5)
);

$header-bgcolor-lightmode: rgb(255, 255, 255);
$header-bgcolor-darkmode: rgba(43, 19, 59, 1);

$logo-bg-lightmode: rgb(255, 255, 255);
$logo-bg-darkmode: rgba(255, 255, 255, 0.7);


$text-purple-color: rgb(75, 35, 102);

$header-btn-bg-color-lightmode:rgba(43, 19, 59, 0.5);